.ol-control {
  background: none;
  padding: 0;
  &.ol-swipe {
    &::before {
      width: 0px;
    }
  }
  button {
    color: var(--q-primary-1);
    width: 1.5rem;
    height: 1.5rem;
    background: var(--q-primary);
    border-radius: 0.25rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
    &:hover {
      background: var(--q-primary-4);
      color: white;
    }
    i {
      font-size: 1.125rem;
    }
  }
  &:hover {
    background: none;
  }
}
